body {font-family: Arial, Helvetica, sans-serif; font-size: 1.1em; padding: 10px; width: 650px}
h1, h2 {font-weight: normal;}
.bordered td {border: 1px solid; padding:5px; width: 50px; font-size: 1.1em;}
.bordered {border-collapse: collapse; width: 640px;}
#productForm {display:flex; flex-direction: row;}
#productForm div:last-of-type {margin-left: 100px;}
input, select, button {font-size: 1.1em; margin-bottom: 10px; margin-top: 10px;}
select {height: 29px; width: 205px;}
input {width: 200px;}
button {background-color: white; border: 1px solid black; border-radius: 2px; height:30px; width:130px; font-size: 1em; margin-top: 12px;}